[submodule "src/functionObjects/lagrangian/lagrangianExtraFunctionObjects"]
	path = src/functionObjects/lagrangian/lagrangianExtraFunctionObjects
	url = https://github.com/blueCFD/lagrangianExtraFunctionObjects
    branch = OF5x
[submodule "src/functionObjects/field/conditionalAverage"]
	path = src/functionObjects/field/conditionalAverage
	url = https://github.com/ZmengXu/conditionalAverage  
[submodule "caseDicts/autoReconstructPar"]
	path = caseDicts/autoReconstructPar
	url = https://github.com/ZmengXu/autoReconstructPar
[submodule "src/functionObjects/field/sampledPlaneAverage"]
	path = src/functionObjects/field/sampledPlaneAverage
	url = https://github.com/ZmengXu/sampledPlaneAverage.git
